  body {
      font-family: "Arial", sans-serif;
      margin: 0;
      display: flex;
      justify-content: center;
      height: 100vh;
      background-color: rgb(218, 211, 222);
      ;
  }

  .container {
      background-color: rgb(218, 211, 222);
      justify-content: space-between;
      max-width: 800px;
      margin: 0 auto;
  }

  label {
      display: block;
      margin-bottom: 5px;
  }

  input {
      margin-bottom: 10px;
      padding: 5px;
  }

  button {
      padding: 5px 10px;
      background-color: #db34b7;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  #gameboard table {
      width: 550px;
      height: 350px;
      justify-content: flex-end;
  }

  #gameboard table tr {
      font: bold 46px Verdana;
      color: rgb(251, 169, 6)
  }

  #gameboard table tr td {
      text-align: center;
      width: 50px;
      height: 50px;
      border: 1px solid #5f5f5d;
      text-align: center;
      font-size: 40px;
      cursor: pointer;
  }

  #Cadastro {
      display: flex;
      font-size: 20;
      font-weight: bold;
      width: 300px;
      align-items: center;
      text-align: center;


  }

  #player1-wins,
  #player2-wins {
      display: block;
      margin-top: 5px;
  }

  #gameboard {

      justify-content: left;
      align-self: center;
  }